# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build artifacts
/.next/
/out/
/build
/dist

# Environment variables
.env
.env*.local
.env.development
.env.test
.env.production
!.env.example

# Vercel deployment
.vercel

# Debug and runtime logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# TypeScript
*.tsbuildinfo

# OS & Editor metadata
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
